appimage-thumbnailer
*.AppImage
*.appimage
*.AppImage.zsync
*.appimage.zsync
appimagetool
squashfs-root/
squashfs-*.img
build*/
dist/
AppDir/
.directory
.claude/
*ns.md
*RE.md
*DE.md
*.log
.vscode/
samples